!<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>afriinnox.com</title>
 {%include 'boostrap.html' %}
  
</head>
<body>
{% include 'nav.html' %}
  <div class = container >
  <div class="card" style= "margin-top:50px;">
    <div class="card-header">
    Background 
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>AFRIINNOX Ltd brings creative and innovative projects to solve the problems that our society, country, and continent are facing. The company’s name “AFRIINNOX” describes what it does, its sectors of operation, and where its activities are based. In fact “AFRI” signifies that it works from Africa, “INNO” describes it for its Innovative approach while solving societal challenges, and, “X” shows how it does not focus on one field, but rather different fields which need innovative solutions for the communities benefit. 
          Currently, the company operates in the agriculture field, inventing new technological machines, systems, and equipment that solve agriculture challenges. AFRIINNOX also serves as Agri-Data Centre in Rwanda , and builds agritech capacity through training and consulting both private farmers and agriculture cooperatives. AFRIINNOX Ltd was registered under reference to Article 23 of Law N° 007/2021 of 05/02/2021 governing companies of RDB, this 9th of October, 2023, as a private, domestic company limited by shares.
</p>
        <footer class="blockquote-footer"> <cite title="Source Title"></cite></footer>
      </blockquote>
    </div>
  </div>

    <div class="card" style= "margin-top:50px;">
      <div class="card-header">
      Mission & Vision 
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>Mission 
            “Addressing different societal challenges by inventing new tech-innovative solutions across various fields that impact the African community”.
            Vision
            “Being a catalyst in improving the living standards of Africans”.
    </p>
          <footer class="blockquote-footer"> <cite title="Source Title"></cite></footer>
        </blockquote>
      </div>
    </div>
    <div class="card" style= "margin-top:50px;">
      <div class="card-header">
      Core Values
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <h1>Innovation</h1>
          <p>We value Innovation Because of Its:
            Alignment with Our Mission: Innovation is crucial because our mission revolves around inventing new tech-innovative solutions. Without innovation, our company wouldn't be able to develop the cutting-edge solutions necessary to address societal challenges effectively.
            Competitive Advantage: In a rapidly evolving tech landscape, innovation sets our company apart from competitors. It allows us to stay ahead of the curve and continually offer novel solutions that meet the unique needs of the African community.<br>
            Adaptability: Innovation ensures that our company remains adaptable to changing circumstances and emerging challenges. By fostering a culture of innovation, AFRIINNOX Ltd can pivot when necessary and respond creatively to evolving societal needs.
    </p>
          <footer class="blockquote-footer"> <cite title="Source Title"></cite></footer>
        </blockquote>
      </div>
    </div>

    
  </div>


{% include 'footer.html' %}

</body>
</html>

