!<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>afriinnox</title>
  <link
    rel="icon" type="image/x-icon" href="https://afriinnox.com/static/images/afriinnox_logo.jpeg"/>
 {%include 'boostrap.html' %}
  
</head>
<body>
{% include 'nav.html' %}
  <div class = container >
  <div class="card" style= "margin-top:100px;">
    <div class="card-header">
    Background 
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>AFRIINNOX Ltd brings creative and innovative projects to solve the problems that our society, country, and continent are facing. The company’s name “AFRIINNOX” describes what it does, its sectors of operation, and where its activities are based. In fact “AFRI” signifies that it works from Africa, “INNO” describes it for its Innovative approach while solving societal challenges, and, “X” shows how it does not focus on one field, but rather different fields which need innovative solutions for the communities benefit. 
Currently, the company operates in the agriculture field, inventing new technological machines, systems, and equipment that solve agriculture challenges. AFRIINNOX also serves as Agri-Data Centre in Rwanda , and builds agritech capacity through training and consulting both private farmers and agriculture cooperatives. AFRIINNOX Ltd was registered under reference to Article 23 of Law N° 007/2021 of 05/02/2021 governing companies of RDB, this 9th of October, 2023, as a private, domestic company limited by shares.
</p>
        <footer class="blockquote-footer"> <cite title="Source Title"></cite></footer>
      </blockquote>
    </div>
  </div>

    <div class="card" style= "margin-top:50px;">
      <div class="card-header">
      Mission & Vision 
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>Mission 
“Addressing different societal challenges by inventing new tech-innovative solutions across various fields that impact the African community”.<br>
Vision
“Being a catalyst in improving the living standards of Africans”.
    </p>
          <footer class="blockquote-footer"> <cite title="Source Title"></cite></footer>
        </blockquote>
      </div>
    </div>
    <div class="card" style= "margin-top:50px; border:solid black;">
      <div class="card-header">
      Core Values
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <h1>Innovation</h1>
          <p>We value Innovation Because of Its:<br>
Alignment with Our Mission: Innovation is crucial because our mission revolves around inventing new tech-innovative solutions. Without innovation, our company wouldn't be able to develop the cutting-edge solutions necessary to address societal challenges effectively.
Competitive Advantage: In a rapidly evolving tech landscape, innovation sets our company apart from competitors. It allows us to stay ahead of the curve and continually offer novel solutions that meet the unique needs of the African community.<br>
Adaptability: Innovation ensures that our company remains adaptable to changing circumstances and emerging challenges. By fostering a culture of innovation, AFRIINNOX Ltd can pivot when necessary and respond creatively to evolving societal needs.
    </p>
          <footer class="blockquote-footer"> <cite title="Source Title"></cite></footer>
        </blockquote>
      </div>
    </div>
    <h1>Core Values:</h1>
    <div class="container text-center">
      <div class="row row-cols-2">
        <div class="col" style="border:solid black;">
          <h2>Innovation</h2>
          <h3>We value Innovation Because of Its:</h3>
          <p>Alignment with Our Mission: Innovation is crucial because our mission revolves around inventing new tech-innovative solutions. Without innovation, our company wouldn't be able to develop the cutting-edge solutions necessary to address societal challenges effectively.<br>
Competitive Advantage: In a rapidly evolving tech landscape, innovation sets our company apart from competitors. It allows us to stay ahead of the curve and continually offer novel solutions that meet the unique needs of the African community.<br>
Adaptability: Innovation ensures that our company remains adaptable to changing circumstances and emerging challenges. By fostering a culture of innovation, AFRIINNOX Ltd can pivot when necessary and respond creatively to evolving societal needs.</p>
        </div>
        <div class="col" style="border:solid black;">
          <h1>Collaboration</h1>
          <h2>Collaboration </h2>
          <h3>We Care about Collaboration Very Much Because We Understand the Power of: </h3>
          <p>
Diverse Perspectives: Collaboration brings together individuals with diverse backgrounds, skills, and perspectives in our team. Given the wide range of challenges our company aims to address, collaboration is essential for generating comprehensive and holistic solutions.<br>
Synergy: By fostering collaboration among our teams and stakeholders, we leverage the collective expertise and creativity of its members. We’ve seen how this synergy often leads to more innovative and impactful outcomes than individual efforts.<br>
Partnerships: Collaborating with other organizations, institutions, and communities enhances AFRIINNOX Ltd's ability to address societal challenges effectively. Through strategic partnerships, our company accesses resources, expertise, and networks that complement its capabilities.
          </p>
        </div>
        <div class="col" style="border:solid black;">
          <h1>Integrity</h1>
          <h2>Integrity</h2>
          <h3>We Conduct Our Work With Integrity to Ensure:</h3>
          <p>Trustworthiness: Integrity is fundamental for building trust with our stakeholders, including clients, partners, and the community. When developing tech-innovative solutions, maintaining the highest ethical standards ensures that our products and services benefit society without causing harm.<br>
Transparency: Operating with integrity at AFRIINNOX Ltd involves transparency in decision-making, communication, and actions. This transparency fosters accountability and demonstrates AFRIINNOX Ltd's commitment to ethical conduct.<br>
Long-Term Reputation: Integrity is a cornerstone of our company's reputation. By upholding integrity in all aspects of its operations, we build a strong foundation for long-term success and positive impact.</p>
        </div>
        <div class="col"style="border:solid black;"> 
          <h1>Excellence</h1>
        <h2>Excellence </h2>
          <h3>All in All, We Strive for Excellence, Because By this mindset we’re always able to achieve:</h3>
          <p>High-Quality Products and Services: Excellence entails a commitment to delivering high-quality products and services. Given our mission of inventing new tech-innovative solutions, maintaining excellence ensures that AFRIINNOX Ltd's offerings meet rigorous standards of performance, reliability, and effectiveness.<br>
Continuous Improvement: Pursuing excellence involves a mindset of continuous improvement. We consistently strive to enhance our processes, products, and services to better address societal challenges and meet the evolving needs of the African community.<br>
Customer Satisfaction: Excellence is closely linked to reality customer satisfaction, so, by prioritizing excellence in all our endeavors at AFRIINNOX Ltd, we exceed customer expectations and deliver solutions that truly make a difference in people's lives.</p>
        </div>
      </div>
    </div>

    <h1>Our Team</h1>

    <table style="width:100%; margin-bottom:100px;">
      <tr>
        <th colspan="2">Jean Damascene Iradukunda(Co-Founder & CEO)</th>
        <th> Elie Ntakirutimana(Co-Founder & CFO)</th>
      </tr>
      <tr>
        <td>Pudens Iradukunda(Project Manager )</td>
        <td>Kelly Simbi(Financial Manager)</td>
        <td>Jean Marc Ntirushwa(Technology  Manager)</td>
      </tr>

    </table>

    
  </div>


{% include 'footer.html' %}

</body>
</html>

