<nav class="navbar fixed-top navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">AFRIINOX LTD</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/book">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/service">Agritech Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/mission">Invented Products </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/get_involved">Get Involved</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/about">About Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>