!<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link
    rel="shortcut icon" type="x-icon" href="https://afriinnox.com/static/favicon.ico"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>afriinnox.com</title>
 {%include 'boostrap.html' %}

</head>
<body>
{% include 'nav.html' %}
  <div class="container">
  <div class="card" style= "margin-top:50px;">
    <div class="card-header">
      <h1>Afriinnox Agri-data Centre</h1>
    
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>AFRIINNOX Ltd owns networked agricultural systems, storage systems, and computing infrastructure that are used to collect and analyse amounts of agriculture data in Rwanda. We’re able to assist private farmers, and agriculture cooperatives to understand the environment they’re working in by giving them regional, seasonal, and crop-based data. This guides them to make informed investment decisions based on real data hence increasing high production in the end.
</p>
        <footer class="blockquote-footer"> <cite title="Source Title"></cite></footer>
      </blockquote>
    </div>
  </div>
    <div class="card" style= "margin-top:50px;">
      <div class="card-header">
        <h1> Afriinnox AgritechCapacityBuilding </h1>
     
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>We, a community of Agriculture Practitioners, Technologists and Farmers, At AFRIINNOX, provide consultancy services about agriculture technologies, and offer training programs to private farmers and agricultural cooperatives about agriculture technology.
    </p>
          <footer class="blockquote-footer"> <cite title="Source Title"></cite></footer>
        </blockquote>
      </div>
    </div>
    
</div>

{% include 'footer.html' %}

</body>
</html>

