!<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link
    rel="shortcut icon" type="x-icon" href="https://afriinnox.com/static/favicon.ico"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>afriinnox.com</title>
 {%include 'boostrap.html' %}

</head>
<body style="background: linear-gradient(to right, rgb(255, 0, 0) 0%, rgb(255, 255, 0) 17%, rgb(0, 255, 0) 33%, rgb(0, 255, 255) 50%, rgb(0, 0, 255) 67%, rgb(255, 0, 255) 83%, rgb(255, 0, 0) 100%); font-size=20px;">
{% include 'nav.html' %}
  <div class="container">
  <div class="card" style= "margin-top:50px;">
    <div class="card-header">
      <h1>Ongoing Projects </h1>

    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Afriinnox SIIsystem: We are developing an agricultural tech-embedded solution that solves the problem of improper crop input usage, and the solution will improve overall agriculture production.<br>
          Afriinnox CBmachine: We are developing a poultry tech-embedded machine ( Afriinnox CBmachine ) that solves problems that chicks face in their early stage. The machine will improve the poultry's overall production.   
</p>
        <footer class="blockquote-footer"> <cite title="Source Title"></cite></footer>
      </blockquote>
    </div>
  </div>
    <div class="card" style= "margin-top:50px;">
      <div class="card-header">
        <h1>Upcoming Projects</h1>

      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>We are planning to launch Afriinnox Farms in different parts of Rwanda, where we will practically engage in agricultural activities such as crop cultivation, and livestock farming. 
We want to be farmers ourselves, with these<br>
To Create an Agricultural Environment for AFRIINNOX to Deeply Understand the Agricultural Challenges & Situations : The Afriinnox Farms will create an agricultural environment for the company, where we can practically face the challenges that farmers face, therefore being able to think and implement the tech solutions which fit the problems, based on our experience, and the data.<br>
To Create a Testing Zone for AFRIINNOX’s Agricultural Invented Machines, Equipments and Systems and potentially for other Agritech companies in Rwanda : The Farms will act as a testing zone for AFRIINNOX Ltd, where we will practically test our technological systems and machines invented, improve their efficiency based on their current performance in our farms before launching them for the community use. This testing zone will be expanded to support other agritech companies in Rwanda, which as well, suffer from the limited testing zone.<br> Again, our customers, partners, and stakeholders will get the opportunity to visit our systems and see how they operate, as we will be serving as a model zone for our solutions.<br>
To Directly Increase the Crop and Animal Production : The Afriinnox Farms have an objective of directly increasing the agriculture annual production to some percentage and reduce the problem of hunger in Rwanda as we will grow crops, and do livestock farming in our farms.<br>
To Strengthening the Company’s Sustainable Sources of Income : The Afriinnox Farms will strengthen the company’s sustainable source of finance, which will be trusted to run the main company’s activities of inventing and marketing new agriculture systems and machines.

    </p>
          <footer class="blockquote-footer"> <cite title="Source Title"></cite></footer>
        </blockquote>
      </div>
    </div>

</div>

{% include 'footer.html' %}

</body>
</html>

